.show {
  display: inline-block;
}

.hide {
  display: none;
}

.container {
  text-align: left;
  min-width: 1000px;
  font-size: 18px;
  line-height: 1.8;
  height: auto;
  overflow: hidden;
}

.header {
  background-color: #7adbbb;
  min-height: 150px;
  text-align: center;
  padding: 25px;
}

.Header-Logo {
  max-height: 100px;
}

.blockone,
.blocktwo {
  text-align: left;
  overflow: hidden;
  margin-right: 20px;
  width: 500px;
  padding: 30px;
}

.blockone {
  padding-top: 0;
  float: left;
}

.blockthree {
  width: 20%;
}

.body {
  display: inline-flex;
  padding-top: 50px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.rightBanner {
  height: 450px;
  width: 200px;
  background-color: #d6d2d2;
  padding: 200px 30px;
}

.background {
  background-color: #f4c759;
}

span {
  color: #000;
}

.footer {
  background-color: #0c132a;
  color: #fff;
  padding: 45px;
  text-align: center;
  margin-top: 180px;
}

.mt-3 {
  margin-top: 30px;
}

.btn-primary.right {
  background-color: #fff;
  color: #000;
  max-width: 150px;
}

.btn-primary.left {
  font-weight: 400;
  color: #000;
  max-width: 150px;
}

.btn {
  text-transform: capitalize;
}

.wrapper {
  margin-top: 35px;
}

p {
  font-size: larger;
  font-weight: lighter;
  font-family: Sans-serif;
}

.actionButtons {
  margin-top: 20px;
}

.shapeSelect {
  min-height: 200px;
  min-width: 400px;
}

.shapeSelect div {
  line-height: 2;
}

.areaResult {
  margin-top: 40px;
}

.areaText {
  font-size: medium;
  font-weight: 300;
  font-family: Sans-serif;
}
